<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AZ</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Aminov Zulfiqor</h1>
    </header>

    <section class="content">
        <img src="myphoto.jpg" alt="Аминов Зулфикор" class="profile-img">
        <div class="bio">
            <p>I was born on 05.12.2000. In 2019 he entered the RUDN University and received a diploma in 2023. I love sports, in particular football and MMA.</p>
        </div>
    </section>

    <footer>
        <div class="contacts">
            <p>Email: 1032195119@pfur.ru</p>
            <p>Phone: +7 909-287-05-30</p>
        </div>
        <div class="social">
            <!-- Здесь вы можете добавить ссылки на свои социальные сети -->
        </div>
    </footer>

    <script src="scripts.js"></script>
</body>
</html>
